.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.post-action {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.post-action i {
    margin-right: 5px;
    color: #555;
}

.post-description {
    margin-top: 10px;
    text-align: center;
    color: #555;
}