.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 posts per row */
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.post-grid p {
    text-align: center;
    color: #333;
    font-size: 18px;
}